body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

:root {
    --main-bg-color: rgb(0,91,178); /* rgb(160,176,191);*/
    --additional-color: #85acc7;
    --hover-gradient: radial-gradient(circle, rgba(243,217,21,1) 0%, rgba(148,187,233,1) 100%);
    ;
    --font-color: rgb(255,255,255);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    color: var(--font-color);
}

.navbar {
    padding: 1vh 5vw;
}

.nav-links a {
    color: var(--font-color);
}
/* LOGO */
.logo a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 32px;
    display: flex;
}
/* NAVBAR MENU */
.menu {
    height: 100%;
    display: flex;
    gap: 1em;
    font-size: 18px;
}

    .menu li:hover {
        background-color: rgba(33,33,33,0.1);
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 14px;
    }